
<%- include ('partials/header.ejs'); -%>

<div class="row justify-content-md-center row-nav">
  <div class="col-lg-5">
    <h1>Lifetime posts</h1>
    <p>In this section you can find everything I've ever wrote. Try searching for some 
      topic you're interest in. 
    </p>
    <form action="/posts" method="POST">
      <input type="text" id="post" name="topic" placeholder="Search for a topic" />
    </form>
  </div>
  <div class="col-lg-5 overflow-auto">
    <% posts.forEach((post)=>{ %>
    <h2><a href="/read/<%= post.title %>"><%= post.title %> </a></h2>
    <p><%= post.content %></p>
    <% }) %>
  </div>
</div>

<%- include ('partials/footer') -%>
